body{
    width:100%;
    height:100%;
    margin:0%;
    display:flex;
}

.left{
    min-width: 720px;
    max-width: 720px;
    display:inline-block;
}
.right{
    width:auto;
    margin-left:20px;
    display:inline-block;
}

.frame{
    border: 20px inset lightgray;
    min-width: 680px;
    max-width: 680px;
    min-height: 680px;
    max-height: 680px;
}

.img{
    position:absolute;
    top:40px;
    left:40px;
    width:640px;
    height:640px;
    background-size: cover;
    image-rendering: pixelated;
    display:none;
    filter:hue-rotate(0deg);
}

#baseBody{
    display:block
}

.itemBox{
    width:100%;
}

.itemTitle{
    font-weight: bold;
    margin-bottom: 0.25em;
}

.itemName{

}

.itemDesc{
    width:100%;
    resize:none;
    height:5em;
}

.itemType{

}