body{
    width:100%;
    height:100%;
    margin:0%;
    display:flex;
}

.left{
    min-width: 720px;
    max-width: 720px;
    display:inline-block;
}
.right{
    width:auto;
    margin-left:20px;
    display:inline-block;
}

/* Left side: */
.frame{
    border: 20px inset darkgray;
    background-color: lightgray;
    min-width: 680px;
    max-width: 680px;
    min-height: 680px;
    max-height: 680px;
}

.img{
    position:absolute;
    top:40px;
    left:40px;
    width:640px;
    height:640px;
    background-size: cover;
    image-rendering: pixelated;
    display:none;
    filter:hue-rotate(0deg);
}

#baseBody{
    display:block
}

.buttonContainer{
    font-size: 0pt;
}

.skinButton{
    width:20px;
    height:20px;
    border: 0 none black;
}

/* Right side: */
.itemBox{
    width:100%;
}

.titleBox{
    display:flex;
}

.itemTitle{
    font-weight: bold;
    margin-bottom: 0.25em;
}

.itemFlavor{
    color:rgb(180, 180, 180);
    margin-left: 1em;
    margin-bottom: 0.25em;
}

.itemDesc{
    width:100%;
    resize:none;
    height:5em;
}